
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Great+Vibes&family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'JawaPalsu';
  src: url('./assets/fonts/JawaPalsu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', 'Inter', sans-serif;
  margin: 0;
}

.font-jawa {
  font-family: 'JawaPalsu', 'Playfair Display', serif;
}

.font-vibes {
  font-family: 'Great Vibes', cursive;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}
